/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

body{
	overflow-x:hidden;
	max-width: 100vw;
}

p {
	margin-bottom: 1.5em !important;
	line-height: 1.5;
}
ul{
	padding-left: 1em;
}
ul li {
	line-height: 2em;
}

h2{
	margin-bottom: 0.75em;
	margin-top: 2em;
	font-family: Alegreya, serif !important;
}

.blog-post p{
	margin-bottom: 2em;
	line-height: 1.5em;
}
.blog-post{
	position: relative;
	top:-2em;
}

.carousel .slide{
	background: rgba(0,0,0,0) !important;
}

.lighter{
	opacity: 0.6;
}

.light{
	opacity: 0.8;
}

.small-container{
  max-width:670px;
}

.bg-tan{
  background: #F7F7ED;
}

.hover\:-pt-2{
	position:relative;
	top: 0; 
}
.hover\:-pt-2:hover{
	position:relative;
	top: -1em;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}

.serif {
	font-family: Alegreya,serif!important;
}

.transition-slow{
	transition: all 700ms;
}

.transition{
	transition: all 500ms;
}

.transition-fast{
	transition: all 200ms;
}


@responsive{
	.bleed {
		padding-left: 50vw;
		margin-left: -50vw;
		padding-right: 50vw;
		margin-right: -50vw;
	}

	.no-bleed{
		padding-left: auto;
		margin-left: auto;
		padding-right: auto;
		margin-right: auto;
	}

}
/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */